microconventions>0.5.0
getjson
ax-platform
deap
funcy
nevergrad
numpy>=1.19.5
nlopt
optuna
platypus-opt
poap
pySOT
pymoo
py-bobyqa
swarmlib
sklearn
scipy
tdigest
landscapes
cmake
dlib
bayesian-optimization
winning